body{
    background-color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color:rgba(255, 255, 255, 0.853);
}
.cover{
    background-image:url(spider.jpg);  
    background-clip: border-box;
    background-position-x: right;
    background-size: cover;  
    height: 725px;
    width: 500px;
    position: relative;
    left: 500px;
}
.main{
    margin: auto;
    border: solid 8px rgb(244, 236, 236);
}
.title{
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    position: relative;
    top: 20px;
    left: 10px;
    width: 140px;
}
.content{
    font-size: 35px;
    text-align: center;
    position: relative;
    top: 0px;
    color:rgba(0, 0, 0, 0.853);
    font-weight: 800;
    
}
.subtitle{
    position: relative;
    left: 10px;
    font-size:18px;
    
}
.image{
    width: 150px; 
    height:190px;      
    position: relative;
    top: 70px;
    left:300px;
    border: 2px solid rgb(255, 254, 254);
    background: rgb(63, 161, 219);
    overflow: hidden;   
}
.image img{
    width: 100%;
    height: 100%;
    color:rgb(255, 255, 255);
    object-fit: cover;
}
.edition{
    position: relative;
    top: 50px;
    left: 1px;
    font-weight: bolder;
}
.author{
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 45px;
    left:20px;
    font-size: 18px;
    color:rgba(229, 38, 38, 0.853);
}
.sub-bottom{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom:5px;
    left:380px;
    font-size: 15px;
    color:rgba(218, 63, 63, 0.853);
}
.name{
    text-align: center;
    position: relative;
    right:50px;
    color:rgb(26, 198, 198);
}